/*---geral---*/

body {
    background: #FFF2EF;

}

p {
    font-family: "Sarabun", sans-serif;
    color: #235158;
    font-size: 2rem;
}

div h2 {
    background: #AAD7D9;
    border-radius: 25px;
    margin: 1vw auto;
    width: 20vw;
    padding: 1.5vw 4vw;

}

h2 {
    font-family: "Palanquin Dark", sans-serif;
    text-align: center;
    color: #FFF2EF;
    font-size: 2rem;
}

.Logo {
    width: 15%;
}

/*=================SVG CEREBRO DPS MUDAR DE POSIÇÃO===================*/
.bannerCere {
    background: #fbf3de;
    display: flex;
    align-items: center;

}

.bannerCere h1 {
    font-family: "Palanquin Dark", sans-serif;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    padding: 15vw;
    color: #235158;

}

.SVG {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 4vw auto;
}

.textoCima {
    display: block;
    text-align: center;
    margin: 2vw 10vw;
}

.conteudoCere {
    display: flex;

}

.imgDiv1 {
    flex: 1;
    width: 150%;
}

.imgDiv {
    flex: 1;
    max-width: 100%;
    width: 100%;
}


.area {
    background: none;
    pointer-events: all;
    fill: transparent;
    cursor: pointer;
}

#botoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.bot {
    background: #92C7CF;
    border: none;
    border-radius: 20px;
    margin: 1vw;
    padding: 15px 20px;
    color: #12383d;
    cursor: pointer;
}

#infoC2,
#infoC1 {
    max-width: 300px;
    margin-left: 40px;
    background: #AAD7D9;
    border: 1px solid #0d2f33;
    border-radius: 20px;
    padding: 2vw 2.5vw;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

#infoC2 h1,
#infoC1 h1 {
    font-size: 2rem;
    text-align: center;
    color: #235158;
    padding-bottom: 20px;
    border-bottom: 1px solid #235158;
}

#infoC2,
#infoC1 div {
    flex: 1;
    color: #000;
    font-size: 1.9rem;
}

#textoC1,
#textoC2 {
    padding: 20px;
    display: block;
    border: none;
}

.area:hover {
    cursor: pointer;
    fill: #AAD7D9;
    /* destaque ao passar o mouse */
    opacity: 0.5;
}

#textoC2 ul li:first-child {
    margin-bottom: 2vw;
    list-style-type: none;
}

#textoC2 ul {
    list-style-type: disc !important;
    /* Define bolinhas */
    padding-left: 20px !important;

}

#textoC2 li {
    line-height: 2.5rem;
    margin-bottom: 6px;
    /* Espaço entre os itens da lista */
}

[class^="toggle"] {
    fill: #12383d !important;

}

/*=================SVG CEREBRO DPS MUDAR DE POSIÇÃO===================*/

/*---header---*/
header nav {
    background: #AAD7D9;
    display: flex;
    justify-content: space-between;
    padding: 1vw 8vw;
    align-items: center;

}

header ul {
    display: flex;
    gap: 2vw;
}

header ul li a {
    text-decoration: none;
    font-family: "Baloo 2", sans-serif;
    color: #235158;
    font-size: 1.5rem;
    background: #F0EDE2;
    padding: 10px 35px;
    border-radius: 50px;
    border: 2px solid #235158;
    display: inline-block;
}

header ul li a:hover {
    transition: .2s;
    transform: scale(0.9);
    font-weight: bold;
}




/*----------------------CAMINHO----------------------*/


/* Resetando estilos padrão */

.neurocaminhos {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

.containercaminho {
    display: flex;
    position: relative;
    /* Permite a sobreposição absoluta dentro deste contêiner */
}

.sidebar {
    margin: 4vw;
}



.imagem-cerebro {
    position: relative;
    /* Permite a sobreposição da seta */
}

.base {
    width: 700px;
    /* Ajuste o tamanho da imagem do cérebro conforme necessário */
    height: auto;
}

.overlay {
    position: absolute;
    /* Posição absoluta para sobrepor sobre a imagem do cérebro */
    top: 0;
    left: 0;
    width: 100%;
    /* Ajuste o tamanho da seta para cobrir a imagem */
    height: 100%;
    /* Ajuste o tamanho da seta */
    pointer-events: none;
    /* Para garantir que os botões possam ser clicados */
    display: none;
    /* A seta ficará oculta inicialmente */
}

















/*---introducao---*/
.introducao {
    background: #AAD7D9;
    padding: 2vw;
    border-top: 2.5px solid #235158;
    display: flex;
    justify-content: space-between;
}

.introducao h1 {
    font-family: "Palanquin Dark", sans-serif;
    color: #235158;
    font-size: 4.5rem;
    text-align: left;
    margin: 2vw 4vw 0 0;
}

.introducao img {
    width: 23%;
    margin: 0 0 0 10vw;
    opacity: 90%;
}

.introducao p {
    font-family: "Baloo 2", sans-serif;
    color: #235158;
    font-size: 2rem;
    text-align: left;
    margin: 2vw 8vw 2vw 0;
    max-width: 1000px;
}

/*---conteudo---*/
.conteudo {
    padding: 2vw;
}

.conteudo h2 {
    font-family: "Palanquin Dark", sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 2rem;
    padding: 30px 0;
}

div.conteudo li {
    background: none;
    border: 2.5px solid #235158;
    padding: 2vw;
    max-width: 50vw;
    margin: auto;
    font-size: 2rem;
    border-radius: 20px;
    font-family: "Baloo 2", sans-serif;
    color: #235158;
}

div.conteudo p {
    font-family: "Baloo 2", sans-serif;
    text-align: center;
}

div.conteudo ul {
    display: flex;
    margin: 4vw 10vw;
    list-style-type: none;

}

div.conteudo ul li {
    margin: 2vw;
}



/*barreira hemato */

.barreirahema {
    background-color: #F0EDE2;
    padding: 2vw 0;
}

.barreirahema p {
    font-size: 2rem;
    margin: 0 19vw 4vw 17vw;
    line-height: 45px;
    font-family: "Baloo 2", sans-serif;
}

div.textocerebro p {
    font-size: 2rem;
    margin: 4vw 0 0 17vw;
    line-height: 45px;
    max-width: 800px;
    font-family: "Baloo 2", sans-serif;
}

div.textocerebro {
    align-items: center;
}

div.textocerebro img {
    width: 19%;
    border-radius: 50px;
    margin: 2vw 0 0 2vw;
}

div.textocerebro {
    display: flex;
}


/*estrutura cerebro*/

.estruturacerebro {
    background-color: #AAD7D9;
    padding: 2vw 6vw;
}

.estruturacerebro h2 {
    border-radius: 40px;
    padding: 30px 0;
    background-color: #F0EDE2;
    color: #92C7CF;
    font-size: 2.5rem;
    margin: 0 35vw;
    font-family: "Palanquin Dark", sans-serif;
}

.estruturacerebro p.centro {
    font-size: 2rem;
    margin: 4vw 15vw;
    text-align: center;
    font-family: "Baloo 2", sans-serif;
}

.sketchfab-embed-wrapper {
    margin: 0 0 0 14vw;
}

.estruturacerebro div.cerebrofinal {
    display: flex;
}

p.norm {
    font-size: 2rem;
    margin: 0 0 2vw 10vw;
    max-width: 900px;
    font-family: "Baloo 2", sans-serif;
}

.estruturacerebro ul {
    margin: 0 0 0 12vw;
    font-family: "Baloo 2", sans-serif;
}

.cerebrofinal {
    padding: 0 7vw 5vw 0;
}

iframe {
    width: 160%;
    height: 120%;
}

.estruturacerebro li {
    font-size: 2rem;
    color: #235158;
    list-style-type: disc;
}

.texto {
    margin: 0 0 5vw 0;
}

/*neurotransmissores*/

.neurotrans {
    padding: 2vw 7vw;
}

.neurotrans h2 {
    font-size: 2.5rem;
    border-radius: 40px;
    padding: 30px 0;
    background-color: #92C7CF;
    color: white;
    margin: 0 30vw;
    font-family: "Palanquin Dark", sans-serif;
}

.neurotrans div.textoNeuro {
    margin: 4vw 15vw;
}

.neurotrans p {
    font-size: 2rem;
    text-align: left;
    font-family: "Baloo 2", sans-serif;
    line-height: 40px;
}

.neurotrans div.tiponeuro ul {
    display: flex;
    justify-content: space-between;
    margin: 0 12vw;
}

.neurotrans h3 {
    font-size: 2rem;
    text-align: center;
    margin: 1vw;
    padding: 1vw;
    color: #235158;
    border-bottom: 1px solid #235158;
    font-family: "Palanquin Dark", sans-serif;
}

.tiponeuro li {
    background-color: #F0EDE2;
    border: 2.5px solid#235158;
    list-style-type: none;
    border-radius: 20px;
    margin: 0 2vw;
    padding: 0 1vw 1vw 1vw;
}

/* cada neuro */

.cadaneuro {
    background-color: #F0EDE2;
    padding: 2vw;
    text-align: center;
}

.cadaneuro h2 {
    color: #235158;
    font-family: "Palanquin Dark", sans-serif;
    font-size: 2.5rem;
    border-bottom: 2px solid #235158;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
}

.umTres {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.quatroSeis {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.seteNove {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.neuros {
    background-color: #92C7CF;
    border-radius: 20px;
    margin: 4vw;
    padding: 1vw;
    width: 12%;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.neuros img {
    width: 8vw;
    border-radius: 20px;
}

.neuros:hover {
    transform: translateY(-20px);
}

.neuros h3 {
    font-family: "Palanquin Dark", sans-serif;
    color: #235158;
    font-size: 1.5rem;
    text-align: center;
    margin: 5px;
}

.neuros h3:hover {
    color: #0d2f33;
    transform: scale(1.05);
    transition: .2s;
}

.neuros summary {
    list-style: none;
    cursor: pointer;
}

.neuros details ul {
    max-width: 90%;
    margin: 15px auto;
    text-align: left;
    font-size: 1.2rem;
    font-family: "Baloo 2", sans-serif;
    color: #0d2f33;
}

/*----------vicios---------------*/

.vicios {
    padding: 2vw;
}

.vicios div.conteudo li {
    background: none;
    border: 2.5px solid #235158;
    padding: 2vw;
    max-width: 50vw;
    margin: auto;
    font-size: 2rem;
    border-radius: 20px;
    font-family: "Baloo 2", sans-serif;
    color: #235158;
    margin: 0 2vw;
}

.vicios div.conteudo ul {
    display: flex;
    margin: 4vw 10vw;
    list-style-type: none;
}

.vicios div.conteudo p {
    font-family: "Baloo 2", sans-serif;
    text-align: center;
}

.vicios div.conteudo {
    display: inline-block;
}

.vicios h2 {
    color: #FBF9F1;
    font-family: "Palanquin Dark", sans-serif;
    font-size: 2.5rem;
    margin: 0 35vw;
    padding: 20px 0;
    background-color: #92C7CF;
    border-radius: 40px;
}

.vicios p {
    font-size: 2rem;
    margin: 0 19vw 4vw 17vw;
    line-height: 45px;
    font-family: "Baloo 2", sans-serif;
}

.cocaina {
    width: 40%;
    height: 40%;
    margin: 2vw 0 0 0;
}

.anfetamina {
    width: 30%;
    height: 30%;
    margin: 2vw 2vw 0 4vw;
}

.cigarros {
    width: 40%;
    height: 50%;
    margin: 4vw 0 0 0;
}

.opiaceos {
    width: 40%;
    height: 50%;
    margin: 2vw 0 0 0;
}

.alcool {
    width: 30%;
    height: 40%;
    margin: 2vw 0 0 4vw;
    padding: 0 1.8vw 0 0;
}

.cadaVicio {
    background-color: #92C7CF;
    padding: 4vw 2vw;
}

.fundo {
    background-color: #F0EDE2;
    margin: 2vw 20vw;
    padding: 2vw 2vw 4vw 2vw;
    display: flex;
}

.fundo h3 {
    font-size: 2rem;
    color: #235158;
    font-family: "Palanquin Dark", sans-serif;
    text-align: center;
    padding: 1vw 0;
}

.fundo li {
    font-family: "Baloo 2", sans-serif;
    font-size: 1.5rem;
    color: #235158;
    list-style-type: disc;
    margin: 0 0 0 2vw;
}


.outros {
    padding: 2vw;
    background-color: #FBF9F1;
}

.outros h2 {
    font-size: 2.5rem;
    text-align: center;
    margin: 1vw 40vw;
    padding: 1vw;
    color: #235158;
    border-bottom: 1px solid #235158;
    font-family: "Palanquin Dark", sans-serif;
    display: inline-block;
}

.outros p {
    margin: 3vw 8vw;
}

p.forte {
    font-weight: bold;
}

.outros li {
    background-color: #92C7CF;
    margin: 2vw;
}

.outros div {
    display: flex;
    margin: 2vw 10vw;
    max-width: 80vw;
}

.outros div img {
    width: 40%;
    margin: 2vw 2vw 2vw 6vw;
    border-bottom: 1px solid #235158;
    margin: 0 auto;
}

.outros h3 {
    font-size: 1.5rem;
    text-align: center;
    color: #235158;
    font-family: "Palanquin Dark", sans-serif;
    padding: 1vw 0 3vw 0;
}


.outros h3:hover {
    color: #0d2f33;
    transform: scale(1.05);
    transition: .2s;
}

.outros summary {
    list-style: none;
    cursor: pointer;
}

.outros details p {
    max-width: 90%;
    margin: 15px auto;
    text-align: left;
    font-size: 1.2rem;
    font-family: "Baloo 2", sans-serif;
    color: #0d2f33;
}

.saida {
    padding: 2vw;
    background-color: #F0EDE2;
}

.saida h2 {
    color: #FBF9F1;
    font-family: "Palanquin Dark", sans-serif;
    font-size: 2.5rem;
    margin: 0 35vw;
    padding: 20px 0;
    background-color: #92C7CF;
    border-radius: 40px;
}

.saida p.saida {
    padding: 1vw 15vw;
    margin: 2vw 0;
}

.saida div.dicas {
    background: #AAD7D9;
    border-radius: 50px;
    padding: 2vw 8vw;
    width: 40%;
    margin: auto;
}

.saida div.dicas p {
    margin: 15px;
    font-weight: bold;
}

.saida div.dicas ol li {
    font-family: "Sarabun", sans-serif;
    color: #235158;
    font-size: 1.5rem;
    list-style: decimal;
    max-width: 50vw;
    line-height: 30px;
}

/* ---footer--- */

footer {
    background: #AAD7D9;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
}

footer h3 {
    font-size: 1.5rem;
    margin: 1vw 0;
    color: #235158;
    font-family: "Palanquin Dark", sans-serif;
}

footer ul li {
    font-size: 1.5rem;
    font-family: "Baloo 2", sans-serif;
    color: #235158;
}

footer p {
    margin-top: 1vw;
    font-size: 1.5rem;
    font-family: "Baloo 2", sans-serif;
    font-weight: bold;
}

footer a span {
    background: #F0EDE2;
    color: #92C7CF;
    font-size: 3rem;
    padding: 1vw;
    border-radius: 100vw;
    text-align: center;
}

footer a span:hover {
    transition: .2s;
    transform: scale(0.9);
    cursor: pointer;
}

/*------------CELULAR----------------*/

@media screen and (max-width: 900px) {

    /*---introducao---*/
    .introducao {
        display: block;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .introducao h1 {
        font-size: 2.5rem;
        text-align: center;
        margin: 10px 0;
    }

    .introducao img {
        width: 50%;
        opacity: 90%;
        margin: 10px 0;
    }

    .introducao p {
        font-size: 1.2rem;
        text-align: center;
        margin: 10px 0;
    }

    /*---conteudo---*/

    .conteudo h2 {
        font-size: 1.5rem;
        padding: 20px 0;
        width: 90%;
        margin: 0 auto;
    }

    .conteudo ul {
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .conteudo ul li {
        max-width: 90%;
        font-size: 1.2rem;
        margin: 2vw auto;
    }

    /*---barreira hemato---*/

    .barreirahema p {
        font-size: 1.2rem;
        margin: 2vw auto;
        line-height: 28px;
        max-width: 90%;
    }

    div.textocerebro {
        flex-direction: column;
        align-items: center;
    }

    div.textocerebro p {
        font-size: 1.2rem;
        margin: 2vw auto;
        text-align: center;
        max-width: 90%;
        line-height: 28px;
    }

    div.textocerebro img {
        width: 60%;
        margin: 2vw 0;
    }

    /*---estrutura cerebro---*/
    .estruturacerebro h2 {
        margin: 0 auto;
        font-size: 1.5rem;
        padding: 20px 0;
        width: 90%;
    }

    .estruturacerebro p.centro {
        font-size: 1.2rem;
        margin: 2vw auto;
        text-align: center;
        max-width: 90%;
    }

    .estruturacerebro p.norm {
        font-size: 1.2rem;
        margin: 2vw auto;
        text-align: center;
        max-width: 90%;
        margin: 0 0 2vw 10vw;
    }

    .estruturacerebro ul {
        margin: 2vw auto;
        padding: 0 5vw;
        list-style-position: inside;
    }

    .estruturacerebro li {
        font-size: 1.2rem;
        margin: auto;
        text-align: center;
    }

    .estruturacerebro div.cerebrofinal {
        flex-direction: column;
        align-items: center;
    }

    iframe {
        width: 100%;
        height: auto;
    }





    .neurotrans {
        padding: 2vw;
    }

    .neurotrans h2 {
        padding: 20px 15px;
        margin: 2vw;
        font-size: 1.5rem;
        margin: block;
    }

    .neurotrans div.textoNeuro {
        margin: 4vw 2vw;
    }

    .neurotrans p {
        font-size: 1.2rem;
        line-height: 20px;
    }

    .neurotrans div.tiponeuro ul {
        display: block;
        margin: 0vw 12vw;
    }

    .neurotrans div.tiponeuro ul li {
        margin: 4vw 2vw;
        padding: 2vw;
    }

    .umTres,
    .quatroSeis,
    .seteNove {
        max-width: 320px;
    }

    .neuros {
        width: 35%;

    }

    .neuros h3 {
        padding: 2vw;
        font-size: 1.2rem;
    }

    .neuros details ul {
        font-size: 1rem;
        margin: 5px;
    }



      .vicios div.conteudo{
        display: block;
      }
    .vicios h2 {
        font-size: 1.5rem;
        padding: 20px 10px;
        margin: 0 20vw;
    }
      .vicios div.conteudo ul {
        margin: 4vw 5vw;
      }
    .vicios div.conteudo li{
        padding: 3vw;
        max-width: max-content;
        font-size: 1.5rem;
        margin: 2vw;
      
    }
   
    .vicios p {
        text-align: center;
        font-size: 1.3rem;
        margin: 4vw;
        line-height: 25px;
    }
    .textoCerebro img {
        width:50%;
        
    }




    .fundo{
        margin: 2vw 10vw;
        display: block;
       
    }
    .fundo img {
        margin: 2vw 20vw;
    }
    .fundo h3{
        font-size: 1.8rem;
    }
    .fundo li {
        margin: 2vw 4vw;
        font-size: 1.2rem;
    }



    .outros p {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    .outros div {
        display: block;
    }
    .outros div img{
        width: 60%;
        margin: 2vw 10vw;
    }
    


    .saida h2 {
        font-size: 2rem;
        margin: auto;
        padding: 10px 20px;
        border-radius: 200px;
    }
    .saida p.saida {
          font-size: 1.2rem;
        line-height: 1.5rem;
        padding: 2vw 10vw;
    }

    .saida div.dicas {
        width: 80%;
    }
    .saida div.dicas ol li{
        font-size: 1.2rem;
        max-width: max-content;
    }
}
