/*---geral---*/

body {
    background: #FFF2EF;
  
}

p {
    font-family: "Rubik", sans-serif;
    color: #235158;
    font-size: 2rem;
}

div h2{
    background: #AAD7D9;
    border-radius: 25px;
    margin: 1vw auto;
    width: 20vw;
    padding: 1.5vw 4vw;
    
}

h2 {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    text-align: center;
    color: #FFF2EF;
    font-size: 2rem;
}

/*---header---*/
header {
    background: #AAD7D9;
 
}

header img {
      margin: 20px 0 20px 0;
}

header img {
    text-align: center;
}

/*---introducao---*/
section.introducao {
    background: #AAD7D9;
    padding: 2vw;
    border: 2.5px solid#5D688A;
    display: flex;
    justify-content: space-between;
}

section.introducao h1 {
    font-family: "Prata", serif;
    color: #235158;
    font-size: 4.5rem;
    text-align: left;
    margin: 2vw 4vw 0 0;
}
.introducao img {
    width: 30%;
    margin: 0 0 0 10vw;
}
section.introducao p {
    font-family: "Rubik", sans-serif;
    color: #235158;
    font-size: 2rem;
    text-align: left;
    margin: 2vw 8vw 2vw 0;
    max-width: 1000px;
}

/*---conteudo---*/
section.conteudo {
    padding: 2vw;
}

section.conteudo h2 {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 2rem;
    font-family: "Prata", serif;
}

div.conteudo li {
    background: none;
    border: 2.5px solid #235158;
    padding: 2vw;
    max-width: 50vw;
    margin: auto;
    font-size: 2rem;
    border-radius: 20px;
}

div.conteudo p {
    font-family: "Rubik", sans-serif;
    text-align: center;
}

div.conteudo ul {
    display: flex;
    margin: 4vw 15vw;
  
} 
div.conteudo ul li {
      margin: 2vw;
}



/*barreira hemato */

.barreirahema {
    background-color: #F0EDE2;
    padding: 2vw 0;
}

.barreirahema P {
    font-size: 2rem;
    margin: 0 19vw 4vw 19vw;
    line-height: 45px;
}

div.textocerebro p{
    font-size: 2rem;
    margin: 4vw 0 0 19vw;
    line-height: 45px;
}

        div.textocerebro img {
            margin: 2vw 17vw 0 0;
          padding: 20px 30px 0 0;
        }

div.textocerebro {
    display: flex;
}



/*estrutura cerebro*/

.estruturacerebro {
    background-color: #AAD7D9;
    padding: 2vw 0;
}

.estruturacerebro h2 {
    border-radius: 25px;
    padding: 20px 0;
    background-color: #F0EDE2;
    color: #92C7CF;
    font-size: 2.5rem;
    margin: 0 35vw;
}

.estruturacerebro p {
font-size: 2rem;
    margin: 4vw 15vw;
    text-align: center;
    }
    .sketchfab-embed-wrapper p {
        width: 60%;
    }

   .estruturacerebro div.cerebrofinal {
    display: flex;
   } 
   p.rebelde {
    margin: 2vw 0 0 10vw;
   }
   p.norm {
    font-size: 2rem;
    margin: 0 10vw 2vw 0;
    text-align: center;
   }
   .estruturacerebro ul {
    margin: 0 0 0 12vw;
   }
   .estruturacerebro li {
    font-size: 2rem;
    color: #235158;
    list-style-type: disc;
   }
   .texto {
    margin: 0 0 5vw 0;
   }
   /*neurotransmissores*/


   .neurotrans h2 {
    font-size: 3rem;
    border-radius: 25px;
    padding: 20px 10px 20px 10px;
    background-color: #92C7CF;
    color: white;
   }

        .neurotrans p {
             font-size: 25px;
    margin: 4vw 4vw 4vw 4vw;
    text-align: left;
        }


        .neurotrans div.tiponeuro ul {
            display: flex;
        }